In [29]:
import pandas as pd
import matplotlib as plt

In [25]:
df = pd.read_excel("Survey_Results1.xlsx")
names_df = df[" "]
names = []
numbers = []
for x in names_df:
    name = x[:2]
    names.append(name)
    number = x[2:]
    numbers.append(number)
df["Names"] = names
df["Numbers"] = numbers
df_renamed = df.set_index("Names")
df_renamed= df_renamed[["Numbers", "Time (min)", "Confidence in Learned", "Retention", "Opinion of System"]]
df_agg = df_renamed.describe()

       Time (min)  Confidence in Learned  Retention  Opinion of System
count   35.000000              35.000000  35.000000          35.000000
mean    99.142857               7.685714   6.828571           7.271429
std     24.419306               1.529541   1.992423           1.379167
min     60.000000               5.000000   1.000000           5.000000
25%     75.000000               7.000000   5.000000           7.000000
50%     90.000000               8.000000   7.000000           7.000000
75%    120.000000               9.000000   8.000000           8.000000
max    140.000000              10.000000  10.000000          10.000000

In [30]:
df_renamed

      Numbers  Time (min)  Confidence in Learned  Retention  Opinion of System
Names
JB          1          90                      7          8                7.0
YH          1          60                      8          8                8.0
DS          1          60                      6          5                5.0
TL          2         135                      8          8                7.0
SP          2         105                      9          9                8.0
OR          2          90                     10         10                8.0
DM          2          90                      8          8                6.0
ZS          2          75                      6          6                5.0
RM          2         120                      6          5                6.0
VC          2         135                      7          8                5.0
SK          2          90                      9          8                7.0
JR          1         120                     10          5                7.0
VG          1         140                      8          5                9.0
ML          1         120                      7          7                5.0
DP          1          75                      5          5                5.0
MP          1          60                      7          7                7.0
KR          1          60                      7         10                6.0
DV                    120                      8          6                8.0
JL          1         105                     10          8               10.0
EV                     90                      7          9                7.0
ZS          1          75                      8          9                8.0
RS          1          90                      8          8                8.0
RR          1          90                      7          5                7.0
OS          1         105                      5          5                7.0
SP          1         120                     10         10               10.0
SN          1          75                      9          6                8.0
RM          1         135                      9          6                8.0
DM          1         120                      8          7                7.0
TL          1         120                      7          5                7.0
LL          1         120                      9          5                7.0
SK          1          90                      7          8               10.0
JC          1          75                      9          9                8.0
VC          1         120                      5          5                7.5
SR          1         120                      5          5                7.0
JG          1          75                     10          1                9.0